<template>
    <v-app>
        <v-content>
            <FormInput :todos="todos"/>
            <v-container>
                <TodoRow v-for="(todo, index) in todos" :index="index" :todo="todo" :key="todo.id"/>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import TodoRow from "components/TodoRow.vue";
    import FormInput from "components/FormInput.vue";
    import todoApi from "../todoApi";

    export default {
        name: "App",
        components: {FormInput, TodoRow},
        data() {
            return {
                todos: []
            }
        },
        created() {
            todoApi.getAllTodos().then(prom => prom.json().then(res => this.todos = res))
        }
    }
</script>

<style scoped>
    .main-app {
        background-color: yellow;
    }
</style>