<template>
    <v-container row>
        <v-text-field v-model="inputText" placeholder="New todo" @keyup.enter="saveTodo"></v-text-field>
        <v-btn @click="saveTodo">Save</v-btn>
    </v-container>
</template>

<script>
    import todoApi from "../todoApi";

    export default {
        name: "FormInput",
        props: ['todos'],
        data() {
            return {
                inputText: ''
            }
        },
        methods: {
            saveTodo() {
                todoApi.saveNewTodo(this.inputText)
                    .then(res => res.json().then(data => this.todos.push(data)))
                this.inputText = ''
            }
        }
    }
</script>

<style scoped>

</style>