<template>
    <v-card class="mx-4">
        <v-divider v-if="index>0"/>
        <v-card-text primary-title>
            <v-icon v-if="todo.completed">done</v-icon>
            {{ todo.text }}
        </v-card-text>
        <v-card-actions>
            <v-btn icon @click="editTodo" small title="Edit task">
                <v-icon>edit</v-icon>
            </v-btn>
            <v-btn icon @click="deleteTodo" small title="Delete this task">
                <v-icon>delete</v-icon>
            </v-btn>
            <v-btn @click="completeTodo" v-if="!todo.completed" icon small title="Mark as completed">
                <v-icon>done_outline</v-icon>
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import todoApi from "../todoApi";

    export default {
        name: "TodoRow",
        props: ['todo', 'index'],
        methods: {
            editTodo() {

            },
            deleteTodo() {

            },
            completeTodo() {
                todoApi.updateTodo(this.todo.id, this.todo.text, true)
            }
        }
    }
</script>

<style scoped>

</style>